[submodule "themes/AllinOne"]
	path = themes/AllinOne
	url = https://github.com/orianna-zzo/AllinOne.git
[submodule "public"]
	path = public
	url = git@github.com:utsfpeng/utsfpeng.github.io.git
	branch = master
